// Obtain current hostname
def hostname = "hostname".execute().text.trim().replace("-", "")

// Check if this configuration is being loaded on the expected cluster
def expectedHostname = "csched" // 


if (!hostname.startsWith(expectedHostname)) {
    error """
    ===============================================================
    ERROR: You are trying to run the pipeline on the '${hostname}' cluster
    but the configuration is specifically for the '${expectedHostname}' cluster.
    Please ensure you're using the correct configuration/profile.
    ===============================================================
    """
}
    
    //Set up apptainer containers and mount path
    apptainer {
        enabled = true
        runOptions = '--env="CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES}" --nv -B /b -B /bscratch -B /bscratch/vishnu/BEAMFORMER/:/workspace/BEAMFORMER -B $HOME:/home1'
        //runOptions = '--nv -B /b -B /bscratch -B /bscratch/vishnu/BEAMFORMER/:/workspace/BEAMFORMER'

        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH, CUDA_VISIBLE_DEVICES'
    }


   // HT-Condor Executor for Contra Dresden Cluster

    process {
        cache = 'lenient'
        executor = 'condor'

         withLabel: 'create_config' {
            cpus = 1
            memory = '30 GB'
            time = '2h'

        }


         withLabel: 'create_dada' {
            cpus = 42
            memory = '75 GB'
            time = '3d'

        }
        withLabel: 'beamformer' {
            cpus = 8
            memory = '300 GB'
            time = '2d'
            clusterOptions = 'request_gpus = 1'

        }

        withLabel: 'transfer_spead_packets' {
            cpus = 300
            memory = '300 GB'
            time = '3d'

        }

    }