// Obtain current hostname
def hostname = "hostname".execute().text.trim().replace("-", "")

// Check if this configuration is being loaded on the expected cluster
def expectedHostname = "csched" // 


if (!hostname.startsWith(expectedHostname)) {
    error """
    ===============================================================
    ERROR: You are trying to run the pipeline on the '${hostname}' cluster
    but the configuration is specifically for the '${expectedHostname}' cluster.
    Please ensure you're using the correct configuration/profile.
    ===============================================================
    """
}
    
    //Set up apptainer containers and mount path
    apptainer {
        enabled = true
        runOptions = '-B /b:/b -B /bscratch:/bscratch -B /bscratch/vishnu/BEAMFORMER/:/workspace/BEAMFORMER'
        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH'
    }


   // HT-Condor Executor for Contra Dresden Cluster

    process {
        cache = 'lenient'
        executor = 'condor'

         withLabel: 'create_config' {
            cpus = 1
            memory = '30 GB'
            time = '1h'

        }


         withLabel: 'create_dada' {
            cpus = 8
            memory = '200 GB'
            time = '1d'

        }

    }