params {

//Observation INFO
bvruse_metadata = "/bscratch/vishnu/BEAMFORMER/skyweaver/examples/metadata_files/bvrmetadata_2024-02-16T10:50:46_72275.hdf5"
pointing_id = 0
//For specific bridges, have a list similar to this -> [0, 1, 2]
bridge_number = (0..63).toList() 
input_root_dir = "/b/DATA/BASEBAND/SPEAD/"
output_root_dir = "/bscratch/vishnu/00_DADA_FILES/"
data_distribution_image = "/bscratch/vishnu/SINGULARITY_IMAGES/meerkat-data-distribution_dev1.sif"

}



profiles {
   local {
    includeConfig 'local.config'   
 }
  contra {
    includeConfig 'contra.config'
  }
  }