params {

//Observation INFO
bvruse_metadata = "/bscratch/vishnu/BEAMFORMER/skyweaver/examples/metadata_files/bvrmetadata_2024-02-16T10:50:46_72275.hdf5"
pointing_id = [3]
source_name = "J0437-4715"
delay_validity_time_interval = 4
skyweavercpp_gulp_size =  "32768"
skyweavercpp_log_level = "debug"
input_yaml_config = "${baseDir}/${source_name}.yaml"
//input_yaml_config = "/bscratch/vivek/J1644_tests/800_beams.yaml"
skyweaver_cpp_config = "${baseDir}/${source_name}.ini"
//For specific bridges, have a list similar to this -> [11, 12]
//bridge_number = (0..63).toList() 


//bridge_number = [33]  
//-> J0437-4715 
//all bridges with spead packets available
bridge_number = [2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 25, 26, 27, 28, 29, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 50, 51, 53, 54, 55, 58, 60, 61, 62, 16, 17, 24, 30, 32, 46, 47, 52]
//bridge_number = [48, 49]
input_root_dir = "/b/DATA/BASEBAND/SPEAD/TEST_DATA"
output_root_dir = "/b/u/vishnu/00_DADA_FILES/"
beamforming_output_dir = "/bscratch/vishnu/BEAMFORMER/01_BEAM_FORMED/"
data_distribution_image = "/bscratch/vishnu/SINGULARITY_IMAGES/meerkat-data-distribution_dev2.sif"
skyweaverpy_image = "/b/u/vishnu/SINGULARITY_IMAGES/skyweaverpy_latest.sif"
skyweavercpp_image = "/b/u/vishnu/SINGULARITY_IMAGES/skyweavercpp_release.sif"
skyweavercpp_code_dir=""
//Number of jobs for parallel rsync
number_of_rsync_jobs = 1
rsync_command_file = "${baseDir}/split_rsync*.log"

}



profiles {
   local {
    includeConfig 'local.config'   
 }
  contra {
    includeConfig 'contra.config'
  }
  }
