params {

//Observation INFO
bvruse_metadata = "/bscratch/vishnu/BEAMFORMER/skyweaver/examples/metadata_files/bvrmetadata_2024-02-16T10:50:46_72275.hdf5"
pointing_id = [3]
source_name = "M28"

input_yaml_config = "${baseDir}/${source_name}.yaml"
skyweaver_cpp_config = "${baseDir}/${source_name}.ini"
//-> J0437-4715 
//all bridges with spead packets available 48 and 49 failed in last run for J0437-4715
bridge_number = [2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 25, 26, 27, 28, 29, 31, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 50, 51, 53, 54, 55, 58, 60, 61, 62, 16, 17, 24, 30, 32, 46, 47, 52]
//bridge_number = [48, 49]


//Apptainer Images
apptainer_images{
    data_distribution_image = "/bscratch/vishnu/SINGULARITY_IMAGES/meerkat-data-distribution_dev2.sif"
    skyweaverpy_image = "/b/u/vishnu/SINGULARITY_IMAGES/skyweaverpy_latest.sif"
    skyweavercpp_image = "/b/u/vishnu/SINGULARITY_IMAGES/skyweavercpp_release.sif"
    pulsar_folder_image = "/b/u/vishnu/SINGULARITY_IMAGES/pulsar_folder_latest.sif"
}


dada_generate{
    input_root_dir = "/b/DATA/BASEBAND/SPEAD/TEST_DATA"
    output_root_dir = "/b/u/vishnu/00_DADA_FILES/"
}

beamformer{
    delay_validity_time_interval = 4
    skyweavercpp_gulp_size =  "32768"
    skyweavercpp_log_level = "debug"
    input_root_dir = "/b/u/vishnu/00_DADA_FILES/"
    output_root_dir = "/b/PROCESSING/01_BEAMFORMED/"
    skyweavercpp_code_dir="/bscratch/skyweaver/bin"
}

skycleaver {
    root="/b/PROCESSING/01_BEAMFORMED/"
    utc="2024-02-16-11:31:52"
    output_root="/b/PROCESSING/02_FILTERBANKS/"
    nchans=64
    nbeams=800
    ndms = 6
    stream_id = 0
    nthreads = 360
    nsamples_per_block=32768
    skycleaver_code_dir="/bscratch/skyweaver/bin"
}

known_pulsar_folder {

    dspsr_flags = " -Lmin 5 -L 10 -A "
    dspsr_nthreads = 4
    dspsr_out_root = "/b/PROCESSING/03_KNOWN_PULSAR_FOLDS"
    pdmp_flags = " -mc 32 -ms 32"
    ephem_dir="/b/PROCESSING/EPHEMERIS/M28"
}

}

profiles {
   local {
    includeConfig 'local.config'   
 }
  contra {
    includeConfig 'contra.config'
  }
  }
