// Obtain current hostname
def hostname = "hostname".execute().text.trim().replace("-", "")

// Check if this configuration is being loaded on the expected cluster
def expectedHostname = "csched" // 


if (!hostname.startsWith(expectedHostname)) {
    error """
    ===============================================================
    ERROR: You are trying to run the pipeline on the '${hostname}' cluster
    but the configuration is specifically for the '${expectedHostname}' cluster.
    Please ensure you're using the correct configuration/profile.
    ===============================================================
    """
}
    
    //Set up apptainer containers and mount path
    apptainer {
        enabled = true
        runOptions = '--env="CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES}" --nv -B /homes -B /b -B /bscratch -B /media -B /b/u/vishnu/BEAMFORMER/:/workspace/BEAMFORMER'

        envWhitelist = 'APPTAINER_BINDPATH, APPTAINER_LD_LIBRARY_PATH, CUDA_VISIBLE_DEVICES'
    }


   // HT-Condor Executor for Contra Dresden Cluster

    process {
        cache = 'lenient'
        executor = 'condor'

         withLabel: 'create_config' {
            cpus = 1
            memory = '10 GB'
            time = '30m'

        }


         withLabel: 'create_dada' {
            cpus = 100
            memory = '50 GB'
            time = '30d'

        }
        withLabel: 'beamformer' {
            cpus = 80
            memory = '80 GB'
            time = '2d'
            //clusterOptions = 'request_gpus = 1'
            clusterOptions = ['request_gpus = 1', 'requirements = (Machine != "contrapn108.compact.mpifr-bonn.mpg.de")']

        }
         withLabel: 'skycleaver' {
            cpus = 60
            memory = '50 GB'
            time = '10d'

        }
        withLabel: 'known_pulsar_folder' {
            cpus = 4
            memory = '10 GB'
            time = '2d'
        }


    }
